
._.git
._default.css
._fonts
._fonts.css
._images
._index.html
._license.txt
fonts/._fontawesome-webfont.eot
fonts/._fontawesome-webfont.svg
fonts/._fontawesome-webfont.ttf
fonts/._fontawesome-webfont.woff
fonts/._FontAwesome.otf
images/._banner.jpg
images/._cotxe.webp
images/._pic01.jpg
images/._pic02.jpg
images/._pic03.jpg
._.gitignore
._.github
._README.md
.github/._workflows
.github/workflows/._static.yml
